<form action="/add" method="post">

    <p>Titulo</p>
    <input type="text" name = 'Titulo'>

    <p>Conteudo</p>
    <textarea name="Conteudo"></textarea>

    <button type="submit">Cadastrar Post</button>

</form>